#File extensions
*.bak
*.Bak
*.o
*.d
*.crf
*.lst
*.map
*.axf
*.hex
*.htm
*.lnp
*.tra
*.sym
*.__i
*._i?
*.plg
*.txt
*.exe
*.uvoptx
*.abideno_dbu-mi
*.icf
*.bin
*.dep
*.Inp
*.scvd
*.iex
*.ivoptx
*.uvguix.*
*.su
*.prefs
*.launch
*.settings.*
*.list
*.cyclo
*.log
Workspace/.metadata
